*
{
	margin: 0;
	padding: 0;

}
.hero
{
	height: 100vh;
	width: 100%;
    background-image: url(sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden; 
}
.highway
{
	height: 200px;
	width: 500%;
	display:  block;
	background-image: url(road.jpg);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: highway 5s linear infinite;
}
@keyframes highway
{
	100%{
		transform: translatex(-3400px);

	}
}
.city
{
	height: 250px;
	width: 500%;
	background-image: url(city.png);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: city 20s linear infinite;
}
}
@keyframes city
{
100%{
		transform: translatex(-1400px);

}
